<ul class="nav nav-pills flex-column col-2">
  <li class="nav-item">
    <a class="nav-link active" href="#">Event Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Registrations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Results</a>
  </li>
</ul>

<div class="col-10">
  <div id="details">
    <%= render "form" %>
  </div>
</div>