<footer class="container" style="padding-top: 100px; padding-bottom: 20px">
  <p class="float-right"><a href="#">Back to top</a></p>
  <%= link_to "Privacy Policy", privacy_policy_path %>
  <p>© 2019 KillaKwads / James Sherriff</p>
</footer>